<script type="text/javascript">w.edvid.init("091e9","sponsvid");</script>
<div id="playlist" class="static">
	<div id="playlist-hover">
		<div class="top"></div>
		<div class="content"></div>
		<div class="bottom"> </div>
	</div>
	<div class="previous-slide prev-control"></div>
	<div id="playlist-shell" class="grouped ed-sp-mixed">
		<div class="playlist-holder playlist" id="playlist-active">
			<div class="group" id="group_1">
				<div class="item">
					<a chronic="091e9" desc="Good nutrition and a healthy body weight can help women who are trying to conceive." class="playlist-thumb v091e9" href="good-nutrition">
						<img src="vd-hlc-0006-128x73.jpg" alt="" />
						<p>Good Nutrition When Trying to Conceive</p>
					</a>
				</div>
				<div class="item spons">
					<a chronic="091e8" desc="Taking the right steps when planning for a family can help lead to an easier pregnancy for both you and your baby." class="playlist-thumb v091e8" href="how-to">
						<img src="vd-hlc-0003-128x73.jpg" alt="" />
						<p><span class="spons-label on">From Our Sponsor</span> How to Get Pregnant</p>
					</a>
				</div>
				<div class="item">
					<a chronic="091e6" desc="Taking folic acid is essential for women of child bearing age." class="playlist-thumb v091e6" href="folic-acid">
						<img src="vd-hlc-0007-128x73.jpg" alt="" />
						<p>Folic Acid: Start Before You Conceive</p>
					</a>
				</div>
			</div>
			<div class="group" id="group_2">
				<div class="item">
					<a chronic="091e2" desc="Why should women consider a prenatal vitamin when they’re trying to conceive and what should they look for?" class="playlist-thumb v091e2" href="what-to-look-for">
						<img src="vd-hlc-0008-128x73.jpg" alt="" />
						<p>What to Look for in a Prenatal Vitamin</p>
					</a>
				</div>
				<div class="item spons">
					<a chronic="091e3" desc="Learn how and when ovulation occurs and how to maximize your chance of conceiving." class="playlist-thumb v091e3" href="ovulation">
						<img src="vd-hlc-0004-128x73.jpg" alt="" />
						<p><span class="spons-label on">From Our Sponsor</span> Ovulation ‒ An Overview</p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="next-slide next-control next-control-on"><span> </span></div>
	<div id="position"><span id="item-range">1 - 3</span> of <span id="item-total">10</span></div>
</div>