#playlist {
	background-color: #f5f6f8;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	border-radius: 0 0 5px 5px;
	border-right: 1px solid #e1e1e1;
	margin: -7px auto 0 auto;
	padding-top: 4px;
	position: relative;
	width: 492px;
	z-index: 2;
}
#playlist .prev-control,
#playlist .next-control {
	float: left;
	height: 135px;
	padding: 0 4px;
	position: relative;
	width: 22px;
}
#playlist .prev-control span,
#playlist .next-control span {
	background: none;
	display: block;
	height: 22px;
	position: absolute;
	top: 30%;
	width: 22px;
}
#playlist .prev-control-on span {
	background-image: url("playlist_position.png");
	background-position: 0 -32px;
	cursor: pointer;
}
#playlist .prev-control-on span:hover {
	background-position: -32px -32px;
}
#playlist .next-control span {
	background: none;
}
#playlist .next-control-on span {
	background-image: url("playlist_position.png");
	background-position: 0 0;
	cursor: pointer;
}
#playlist .next-control-on span:hover {
	background-position: -32px 0;
}
#playlist #playlist-shell {
	float: left;
	height: 135px;
	overflow: hidden;
	position: relative;
	width: 432px;
}
#playlist #playlist-shell.fixed {
	clear: both;
	float: none;
	margin: 0 0 10px 30px;
}
#playlist .playlist-holder {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 99999px;
}
#playlist .playlist-holder .group {
	display: inline;
}
#playlist .playlist-holder .item {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	float: left;
	margin-right: 7px;
	position: relative;
	width: 138px;
}
#playlist .playlist-holder .item.on {
	background-color: #fff;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	width: 138px;
}
#playlist .playlist-holder .playing {
	background-color: #a3bd4f;
	height: 16px;
	line-height: 16px;
	margin: 0 -1px -16px -1px;
	text-align: center;
	vertical-align: middle;
}
#playlist .playlist-holder .spons .playing {
	background-color: #6b6a6a;
}
#playlist .playlist-holder .playing strong {
	color: #fff;
	display: block;
	font-size: 75%;
	font-weight: normal;
	padding-top: 1px;
	text-transform: uppercase;
}
#playlist .playlist-thumb {
	display: block;
	margin-top: 16px;
	padding: 2px 5px;
}
#playlist .playlist-thumb:hover {
	text-decoration: none;
}
#playlist .playlist-thumb p {
	color: #006699;
	font-size: 85%;
	font-weight: bold;
	height: 30px;
	margin: 2px -2px 5px -2px;
}
#playlist .playlist-thumb_on {
	cursor: default;
	text-decoration: none;
}
#playlist #position {
	clear: both;
	font-size: 90%;
	text-align: center;
	padding: 2px 0;
	width: 100%;
}

#playlist-hover .top,
#playlist-hover .content,
#playlist-hover .bottom {
	background: url("playlist_thumb_hover.png") no-repeat;
}
#playlist-hover {
	display: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: absolute;
	left: 0;
	top: 0;
	width: 230px;
	z-index: 999;
}
#playlist-hover sup {
	vertical-align: top;
}
#playlist-hover .top {
	background-position: 0 -308px;
	height: 10px;
}
#playlist-hover .content {
	background-position: 0 -328px;
	padding: 5px 30px 0 25px;
}
#playlist-hover .content a {
	display: block;
	height: 45px;
}
#playlist-hover .content a:hover {
	text-decoration: none;
}
#playlist-hover .content p {
	color: #333;
	font-size: 90%;
	margin: 0;
	padding: 10px 0;
}
#playlist-hover .bottom {
	background-position: 0 -601px;
	height: 15px;
}
#playlist-hover.last .top {
	background-position: 0 0;
}
#playlist-hover.last .content {
	background-position: 0 -20px;
	padding: 5px 35px 0 15px;
}
#playlist-hover.last .bottom {
	background-position: 0 -293px;
}
#playlist #playlist-shell.ed-sp-mixed {
	height: 145px;
}
#playlist #playlist-shell.ed-sp-mixed .playlist-thumb p {
	height: 40px;
}
#playlist-hover .spons-label.on {
	margin-top: -7px;
}
span.spons-label.off, span.spons-label {
	display: none;
}
span.spons-label.on {
	color: #ff6633;
	display: block;
	font-size: 11px;
	font-weight: bold;
	line-height: 1.1em;
}
span.spons-label.on:hover {
	text-decoration: none;
}