#main-content {
    width: 780px;
    min-height: 1355px;
}

#main-content .sectionwrap {
    max-width: 780px;
}


.calculator-tool h1 {
    font-weight: normal;
}

.calculator-tool h1 b {
    color: #d52b1e;
}

.calculator-tool .subhead {
    margin-top: 20px;
    border-top: 1px solid #d8d8d8;
    padding-top: 15px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#calculation-content-wrap .subhead {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

#calculation-content-wrap #alt-min {
    display: none;
}

#calculation-tabs-wrap .fcr h5 {
    margin-right: -5px;
}

#calculation-form .tip-icon {
    background: url("../img/icon_tips.gif") no-repeat 0 10px;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    width: 12px;
}
#calculation-form .tip-content {
    display: none;
}
#calculation-form input {
    height: 40px;
    border: 2px solid #d8d8d8;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
    color: #636363;
    width: 80px;
    margin: 0 5px;
}

#calculation-form select {
    font-size: 1em;
    /*border: 2px solid #d8d8d8;*/
    border: none;
    color: #636363;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/bg_select_long_w360.gif") no-repeat 0 0;
    width: 360px;
    height: 40px;
    padding-left: 10px;
    margin: 0 3px 10px 0;
}

#calculation-form select:nth-child(even) {
    margin-right: 0;
}

#calculation-form #sales-tax {
    font-size: 1em;
    background: url("../img/bg_select_short.gif") no-repeat 0 0;
    width: 100px;
    height: 40px;
    padding-left: 10px;
    margin-left: 5px;
}

#calculation-form .selection-group {
    margin-bottom: 10px;
}

#calculation-form .input-field {
    font-weight: bold;
    font-size: .95em;
    color: #d52b1e;
    display: inline-block;
}

#calculation-form .input-field label[for='total-usage'] {
    margin-left: 20px;
}

#calculation-form .selection-tax {
    display: inline-block;
    font-weight: bold;
    font-size: .95em;
    margin-left: 20px;
}

#calculation-form .form-complete {
    text-align: right;
    margin-right: 8px;
    margin-top: 10px;
}

@media all and (-ms-high-contrast: active), (-ms-high-contrast: none), screen\0 {
    #calculation-form select { 
        font-size: 1em;
        border: 2px solid #d8d8d8;
        color: #636363;
        width: 360px;
        height: 40px;
        padding-left: 10px;
        background: none;
    }
    #calculation-form #sales-tax {
        width: 80px;
        background: none;
    }
    #calculation-form .selection-tax {
        margin-left: 25px;
}
}

.invalid {
    background-color: #fcf2f2;
    border: 1px solid #c00;
    box-shadow: 0 0 2px 0px #c00;
}

.hidden {
    display: none;
}

#hud-ranges p {
    color: #a9a9a9;
    font-size: .8em;
    line-height: 1.25em;
    margin: 0;
    text-align: center;
}

#bill-total {
    display: none;
    font-weight: bold;
    font-size: 1em;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 35px;
}

#bill-total b {
    font-size: 2.25em;
    margin-left: 5px;
}

.required {
    box-shadow: 0  0 3px rgba(255,0,0,0.5);
}


.rate-calculator .title-image {
    margin-top: 10px;
}

.rate-calculator .calculation-tabs * {
    box-sizing: border-box;
}

#calculation-tabs-wrap {
    display: none;
}



#hud-buckets .bucket-wrap,
#hud-ranges .range {
    display: inline-block;
    box-sizing: border-box;
    width: 165px;
    height: 155px;
}

#hud-ranges .range {
    vertical-align: text-top;
}

#hud-buckets .bucket-wrap {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#hud-buckets .bucket-wrap .fill-line {
    position: absolute;
    width: 165px;
    height: 115px;
    z-index: 1;
    background: url("../img/bg_fill_line.gif") repeat-x 0 0;
}

#hud-buckets .bucket-wrap .bucket {
    background: transparent url("../img/bg_bucket_outline.png") no-repeat 0 0;
    width: 165px;
    height: 115px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

#hud-buckets .bucket-wrap .usage {
    bottom: 7px;
    position: absolute;
    width: 155px;
    text-align: center;
}

#hud-buckets #bucket-B {
    top: 40px;
    left: 190px;
}

#hud-buckets #bucket-C {
    top: 80px;
    left: 380px;
}

#hud-buckets #bucket-D {
    top: 120px;
    left: 570px;
}

#hud-bucket-rates .rate-group {
    width: 165px;
    float: left;
    display: inline-block;
    margin-right: 25px;
    text-align: center;
    font-size: .95em;
}

#hud-bucket-rates .rate-group:last-child {
    margin-right: 0;
}

#hud-bucket-rates .rate-group p {
    font-size: .75em;
    font-weight: normal;
    margin: 0;
    color: #a9a9a9;
    line-height: 1.35em;
}

#hud-bucket-rates .usage {
    color: inherit;
    font-weight: normal;
    padding: 0;
    font-size: inherit;
}

.ui-tabs #hud-buckets {
    position: relative;
    height: 265px;
}

.ui-tabs #hud-buckets .cost {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    width: 165px;
    top: 15px;
}

.ui-tabs #hud-buckets .descr {
    color: #e5e5e5;
    font-weight: bold;
    font-size: .9em;
    line-height: 1.2em;
    position: absolute;
    bottom: 15px;
    left: 25%;
}

.ui-tabs #hud-buckets .descr b {
    display: block;
    font-size: 1.25em;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid #efefef;
    margin-right: 15px;
    width: 24%;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type:last-child {
    margin-right: 0;
    border-right: 0;
    padding-right: 0;
    width: 20%;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type h4 {
    display: block;
    margin: 0;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type h5 {
    font-size: .75em;
    margin: 0;
    height: 45px;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type p:nth-child(even) {
    font-size: 1.75em;
    font-weight: bold;
    color: #aea9a5;
    margin: 5px 0;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type p:nth-child(odd) {
    margin: 0;
    font-size: .75em;
    color: #aea9a5;
}

.ui-tabs .ui-tabs-panel .content-wrap .charge-type #fcr-rate p:nth-child(odd) {
    line-height: 1.1em;
    margin-top: -8px;
}

.ui-tabs .ui-tabs-panel .content-wrap .mff-rates div {
    display: inline-block;
    width: 48%;
    text-align: center;
}

.ui-tabs .ui-tabs-panel .content-wrap .mff-rates p {
    color: #aea9a5;
    font-size: .95em;
}

.ui-tabs {
    position: relative;
    padding: .2em;
    width: 100%;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em 0 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 0 2px 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
    background: #f0f0f0;
    box-sizing: border-box;
    width: 193px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
    height: 202px;
}

#tab-wrap-sales .tab-label .amt {
    color: #aea9a5;
    font-weight: bold;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .tab-label {
    position: relative;
    z-index: 3;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 0;
    background: #efefef;
    position: relative;
}

.ui-tabs .ui-tabs-nav {
    overflow: auto;
}

.ui-tabs .ui-tabs-nav li:not(.ui-state-active) {

}

.ui-tabs .ui-tabs-nav li:not(.ui-state-active) .tab-label {
    height: 137px;
}

.ui-tabs .ui-tabs-nav .tab-label {
    padding: 40px 10px 10px;
    text-align: center;
    margin: 5px 5px 0;
}

.ui-tabs .ui-tabs-panel .content-wrap {
    padding: 1em;
    background: white;
    border: 6px solid #efefef;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
}

.ui-tabs .ui-tabs-panel .content-wrap h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.ui-tabs .ui-tabs-panel .content-wrap h4 {
    font-size: 1.1em;
    margin: 10px 0 15px;
}

.ui-tabs .ui-tabs-panel .content-wrap h4 b {
    font-size: 1.75em;
    margin-right: 5px;
}

.ui-tabs .ui-state-active {
    height: 115px;
    background: yellow;
}

.ui-tabs .ui-state-active .tab-label {
    background: white;
    height: 147px;
}

.ui-tabs .ui-state-active .tab-label .title {
    color: #ada6a1;
}

.ui-tabs .ui-tabs-nav .tab-label span {
    display: block;
}

.ui-tabs .ui-tabs-nav .tab-label .amt {
    font-size: 2em;
    padding: 5px 0 35px;
}

.ui-tabs .ui-state-active .tab-label .amt {
    color: #739600;
}

.ui-tabs .ui-state-active .tab-label .amt,
.ui-tabs .content-wrap h3 b,
.ui-tabs .content-wrap h4 b,
.ui-tabs .content-wrap .usage {
    color: #739600;
}

.ui-tabs .ui-state-active .tab-label.base .amt,
.ui-tabs .content-wrap.base h3 b,
.ui-tabs .content-wrap.base h4 b,
.ui-tabs .content-wrap.base .usage {
    color: #4060af;
}

.ui-tabs .content-wrap.base .usage {
    font-weight: bold;
    padding: 5px;
    font-size: 1.15em;
}

.ui-tabs .ui-state-active .tab-label.franchise .amt,
.ui-tabs .content-wrap.franchise h3 b,
.ui-tabs .content-wrap.franchise h4 b,
.ui-tabs .content-wrap.franchise .franchise {
    color: #5A447A;
}

.ui-tabs .ui-tabs-nav .tab-label .info {
    display: inline-block;
    color: #e26a61;
    position: relative;
}

.ui-tabs .ui-tabs-nav .tab-label .info i {
    background: url("../img/bg_tabs_toggle.png") no-repeat 0 0;
    display: block;
    width: 20px;
    height: 20px;
    float: right;
    margin-left: .5em;
}

.ui-tabs .ui-state-active .tab-label .info i {
    background-position: 0 -20px;
}

.ui-tabs .initial-state-empty {
    display: none !important;
}

.ui-state-default:not(.ui-state-active) .amt {
    color: #aea9a5;
}

.ui-state-default a {
    color: #555555;
    text-decoration: none;
}