<div class="calculator-tool">
  <h1><b>Power</b> &amp; <b>Light</b> Rate Calculator</h1>

  <p>Our Power &amp; Light Rate Calculator is an easy-to-use tool that showcases how your business currently uses energy and where you can save money going forward. Using your current Georgia Power energy bill, plug your information into our custom calculator to discover the many ways to save.</p>
  <p><a href="/business/prices-rates/rate-calculator/overview.cshtml">Learn More about Power &amp; Light Tariffs</a></p>

  <h2 class="subhead">Information about your operation</h2>

  <div class="calculation-form-wrap">
      <form id="calculation-form" class="inputs">
          <div class="selection-group">
            <select id="city-limits" class="field">
                <option value="inside" selected>Inside City Limits</option>
                <option value="outside">Outside City Limits</option>
            </select>
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Inside City Limits/Outside City Limits</p>
                <p>Georgia Power has to pay a charge to cities for conducting business within their city limits and on the cities' rights-of-way. A Municipal Franchise Fee (MFF) is designed to collect that money and is a "pass-through" charge, meaning Georgia Power earns no profit.</p>
                <p><em>Inside City Limits &#64; 2.9989%</em></p>
                <p><em>Outside City Limits &#64; 1.1525%</em></p>
            </span>
            <select id="distribution-type" class="field">
                <option value="0" selected>Secondary Distribution</option>
                <option value="1">Primary Distribution</option>
                <option value="2">Transmission Distribution</option>
            </select>
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Distribution Type</p>
                <p><strong>Primary Distribution</strong> customers are those who receive electrical service from a distribution line at a voltage between 2.4 V and 25 kV, or from a substation or pole-mounted or pad-mounted transformer whose high-side and low-side voltage is between 2.4 kV and 25 kW.</p>
                <p><strong>Transmission</strong> customers are those who receive electrical service from a transmission line of 46 kV or higher or from a substation or a pole-mounted or pad-mounted transformer, which is dedicated to them and whose metering is at or emulated to 46 kV or more.</p>
                <p><strong>Secondary Distribution</strong> customers are those not defined as Transmission or Primary Distribution customers.</p>
            </span>
            <select id="customer-type" class="field">
                <option value="commercial" selected>Commercial Customer</option>
                <option value="industrial">Industrial Customer</option>
                <option value="residential">Residential Customer</option>
            </select>
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Customer Type</p>
                <p>The Power &amp; Light Rate Calculator is an efficient tool for a variety of customers. Residential, Commercial and Industrial customers all can utilize this calculator to help understand how a Power &amp; Light rate is calculated. Part of the calculation includes Demand Side Management charges, which vary by customer type.</p>
            </span>
            <select id="fcr-season" class="field">
                <option value="summer" selected>Summer FCR</option>
                <option value="winter">Winter FCR</option>
            </select>
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Fuel Cost Recovery</p>
                <p>Fuel Cost Recovery is an annual adjustment in rates based on changes in the price of fuel used to generate electricity. It is separate from base rates because fuel costs vary. The Fuel Cost Recovery schedule is seasonal (Summer:  June &ndash; September; Winter: October &ndash; May) and determined by distribution type (primary, transmission or secondary). </p>
            </span>
          </div>
          <div class="input-field">
            <label for="billing-demand">Billing Demand</label>
            <input type="text" id="billing-demand" value="" class="field"/> kW *
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Billing Demand</p>
                <p>The billing demand is a calculated number, based on the peak demands set in the current month, plus the previous 11 months.</p>
            </span>
          </div>
          <div class="input-field">
            <label for="total-usage">Monthly Usage</label>
            <input type="text" id="total-usage" value="" class="field"/> kWh *
            <i class="tip-icon"></i>
            <span class="tip-content">
                <p class="hdr">Monthly Usage</p>
                <p></p>
            </span>
          </div>
          <div class="selection-tax">
            <span>Sales Tax</span>
            <select id="sales-tax" class="field">
                <option value="0.04">4%</option>
                <option value="0.05">5%</option>
                <option value="0.06">6%</option>
                <option value="0.07" selected>7%</option>
                <option value="0.08">8%</option>
                <option value="0.09">9%</option>
                <option value="0.10">10%</option>
                <option value="0.11">11%</option>
                <option value="0.12">12%</option>
            </select>                    
          </div>
          <div class="form-complete">
            <button type="button" id="calculate-total" class="useGPCstyles">Calculate Bill Total</button>
            <p id="bill-total"><span class="verbiage"></span> <b>$<span class="total">0.00</span></b></p>
          </div>
      </form>
  </div>
  <div id="calculation-content-wrap">
      <h2 class="subhead">How to Use the Calculator</h2>
      <p>Choose the appropriate categories and applicable county sales tax percentage in the pull-down menus above. Enter your billing demand kW and monthly usage kWh; you can locate this information on your bill. Click the <strong>Calculate Bill Total</strong> button. </p>
      <p><em>This tool should only be used to calculate a normal billing period. If results differ from what is expressed on your billing statement, please call the Business Solutions Center at 888-655-5888.</em></p>
      <p><img src="img/commercial-bill-sample.jpg" alt="bill sample"></p>
  </div>
  <div id="calculation-tabs-wrap">
      <div id="tabs">
          <ul>
              <li>
                  <a href="#tabs-1">
                      <div class="tab-label base">
                          <span class="title">Base Rate</span>
                          <span class="amt">$<b id="base-rate-total">0</b></span>
                          <span class="info">More Info <i></i></span>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#tabs-2">
                      <div class="tab-label schedules">
                          <span class="title">Other Schedules</span>
                          <span class="amt">$<b id="other-schedules-total">0</b></span>
                          <span class="info">More Info <i></i></span>
                      </div>
                  </a>
              </li>
              <li>
                  <a href="#tabs-3">
                      <div class="tab-label franchise">
                          <span class="title">Municipal Franchise Fee</span>
                          <span class="amt">$<b id="franchise-fee-total">0</b></span>
                          <span class="info">More Info <i></i></span>
                      </div>
                  </a>
              </li>
              <li id="tab-wrap-sales">
                  <div class="tab-label sales">
                      <span class="title"><b>Sales Tax</b></span>
                      <span class="amt">$<b id="sales-tax-total">0</b></span>
                  </div>
              </li>
          </ul>
          <div id="tabs-1">
              <div class="content-wrap base">
                  <h3>Calculate for <b>Actual Usage</b></h3>
                  <p>Your base rate is determined by your overall billing demand and monthly energy usage which is further applied to our rate structure as listed below. For more information regarding our rate structure, <a href="/business/prices-rates/home.cshtml">click here</a>.</p>
                  <h4><b>$<span id="basic-service-charge">0</span></b> Basic Service Charge</h4>
                  <h4 id="alt-min"><b>$<span id="minimum-kw-bill">0</span></b> Minimum kW Bill</h4>
                  <div id="hud-buckets">
                      <div id="bucket-A" class="bucket-wrap">
                          <div class="fill-line blockA"></div>
                          <div class="bucket">
                              <div class="cost">$<span class="amt">0</span></div>
                              <div class="descr"><b>First 200</b> HUD Bucket</div>
                          </div>
                          <div class="usage"><span class="amt">0</span> kWh</div>
                      </div>
                      <div id="bucket-B" class="bucket-wrap">
                          <div class="fill-line blockB"></div>
                          <div class="bucket">
                              <div class="cost">$<span class="amt">0</span></div>
                              <div class="descr"><b>200 - 400</b> HUD Bucket</div>
                          </div>
                          <div class="usage"><span class="amt">0</span> kWh</div>
                      </div>
                      <div id="bucket-C" class="bucket-wrap">
                          <div class="fill-line blockC"></div>
                          <div class="bucket">
                              <div class="cost">$<span class="amt">0</span></div>
                              <div class="descr"><b>400 - 600</b> HUD Bucket</div>
                          </div>
                          <div class="usage"><span class="amt">0</span> kWh</div>
                      </div>
                      <div id="bucket-D" class="bucket-wrap">
                          <div class="fill-line blockD"></div>
                          <div class="bucket">
                              <div class="cost">$<span class="amt">0</span></div>
                              <div class="descr"><b>Over 600</b> HUD Bucket</div>
                          </div>
                          <div class="usage"><span class="amt">0</span> kWh</div>
                      </div>
                  </div>
                  <div id="hud-bucket-rates">
                      <div id="bucket-A-levels" class="rate-group">
                          <p id="level-A1">First <span class="usage"></span> kWh &commat; $<span class="amt">0</span></p>
                          <p id="level-A2">Next <span class="usage"></span> kWh &commat; $<span class="amt">0</span></p>
                          <p id="level-A3">Next <span class="usage"></span> kWh &commat; $<span class="amt">0</span></p>
                          <p id="level-A4">Over <span class="usage"></span> kWh &commat; $<span class="amt">0</span></p>
                      </div>
                      <div id="bucket-B-rate" class="rate-group">
                          <p>&commat; $<span class="amt">0</span></p>
                      </div>
                      <div id="bucket-C-rate" class="rate-group">
                          <p>&commat; $<span class="amt">0</span></p>
                      </div>
                      <div id="bucket-D-rate" class="rate-group">
                          <p>&commat; $<span class="amt">0</span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div id="tabs-2">
              <div class="content-wrap schedules">
                  <h3>Calculate for <b>Additional Charges</b></h3>
                  <div class="charge-type">
                      <h4>ECCR</h4>
                      <h5><a target="_blank" href="/docs/rates-schedules/common/10.00_ECCR.pdf">Environmental Compliance Cost Recovery</a> (PDF)</h5>
                      <div id="eccr-rate" class="charge-details">
                          <p><span class="percent">0</span>% of Base Rate</p>
                          <p>$<span class="amt">0</span></p>
                      </div>
                  </div>
                  <div class="charge-type">
                      <h4>NCCR</h4>
                      <h5><a target="_blank" href="/docs/rates-schedules/common/10.10_NCCR.pdf">Nuclear Construction<br> Cost Recovery</a> (PDF)</h5>
                      <div id="nccr-rate" class="charge-details">
                          <p><span class="percent">0</span>% of Base Rate</p>
                          <p>$<span class="amt">0</span></p>
                      </div>
                  </div>
                  <div class="charge-type">
                      <h4>DSM</h4>
                      <h5><a target="_blank" href="/docs/rates-schedules/common/10.20_DSM-C.pdf">Demand Side<br> Management</a> (PDF)</h5>
                      <div id="dsm-rate" class="charge-details">
                          <p><span class="percent">0</span>% of Base Rate</p>
                          <p>$<span class="amt">0</span></p>
                      </div>
                  </div>
                  <div class="charge-type fcr">
                      <h4>FCR</h4>
                      <h5><a target="_blank" href="/docs/rates-schedules/common/10.40_FCR.pdf">Fuel Cost Recovery</a> (PDF)</h5>
                      <div id="fcr-rate" class="charge-details">
                          <p>
                            <span class="kWh">0</span> kWh<br/>
                            <span class="rate">0</span>
                          </p>
                          <p>$<span class="amt">0</span></p>
                      </div>
                  </div>
              </div>
          </div>
          <div id="tabs-3">
              <div class="content-wrap franchise">
                  <h3>Municipal Franchise Fee</h3>
                  <p>Georgia Power collects a Municipal Franchise Fee (MFF) from all non-city customers, based on their power charges. They also collect a Municipal Franchise Fee from customers inside city limits. All franchise fees collected directly and indirectly from all Georgia Power customers are effectively put in a pool. They are distributed to all cities in proportion to their size (by some measure).</p>
                  <p>The Municipal Franchise Fee will be updated each November via filings with the Georgia Public Service Commission, with rates effective the following January. The effective Municipal Franchise Fees for inside city limits and outside city limits will be collected by applying the following rates to the total revenues of each bill:</p>
                  <div class="mff-rates">
                      <div id="inside-rate">
                          <p>Inside City Limits &commat; <span class="percent"></span>%</p>
                      </div>
                      <div id="outside-rate">
                          <p>Outside City Limits &commat; <span class="percent"></span>%</p>
                      </div>
                  </div>
                  <p>The adjustment calculated under this tariff is subject to change in such an amount as may be approved and/or amended by the Georgia Public Service Commission. Service hereunder is subject to the Rules and Regulations for Electric Service on file with the Georgia Public Service Commission.</p>
              </div>
          </div>
      </div>
  </div>
  <script>
      $(function() {
          $("#tabs").tabs();
          gpcRateCalculator.init();
      });
  </script>
</div>