#vote-finalists h3,
#vote-finalists h4,
#vote-finalists h5,
#vote-finalists p,
#vote-finalists ul,
#vote-finalists li,
#vote-finalists-ftrmod h3,
#vote-finalists-ftrmod p,
#vote-finalists-ftrmod ul,
#vote-finalists-ftrmod li {
	margin: 0;
	padding: 0;
}
#vote-finalists,
#vote-finalists-ftrmod {
	background: url("heroes_voting_hdr.png") no-repeat top right;
	color: #222;
	overflow: auto;
	position: relative;
}
#vote-finalists-ftrmod {
	width: 100%;
}
#vote-finalists h3,
#vote-finalists-ftrmod h3 {
	color: #88a906;
	font-size: 1.8em;
	font-weight: normal;
	padding: 10px 0 5px 0;
}
#vote-finalists img {
	border: 1px solid #82837e;
	margin: 3px 0 10px 0;
	vertical-align: top;
}
#vote-finalists p,
#vote-finalists-ftrmod p {
	font-size: 0.9em;
}
#vote-finalists .cta-button {
	background-color: #f67f00;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 34px;
	text-align: center;
}
#vote-finalists .cta-button:hover {
	text-decoration: none;
}
#vote-finalists .disclaimers {
	line-height: 1.75em;
	margin-top: 32px;
}
#vote-finalists .heroes {
	list-style: none;
	position: relative;
}
#vote-finalists .heroes li {
	box-sizing: border-box;
	float: left;
	overflow: auto;
	padding-right: 20px;
	position: relative;
	width: 50%;
}
#vote-finalists .heroes .thumb {
	display: inline;
	float: left;
	margin: 0 10px 30px 0;
	position: relative;
}
#vote-finalists .heroes h4 {
	font-size: 1.2em;
}
#vote-finalists .heroes h5 {
	font-size: 1em;
	font-weight: normal;
}
#vote-finalists .heroes p {
	line-height: 1.25em;
	margin: 3px 0 8px 0;
}
#vote-finalists .intro,
#vote-finalists-ftrmod .intro {
	margin-bottom: 15px;
	min-height: 125px;
	padding-right: 30%;
}
#vote-finalists.page-finalists .intro {
	padding-top: 8px;
}
#vote-finalists.page-finalists .heroes li {
	padding-top: 28px;
}
#vote-finalists ul.inline-list,
#vote-finalists-ftrmod ul.inline-list {
	box-sizing: border-box;
	display: inline-block;
	font-size: 90%;
	line-height: 175%;
	list-style-type: none;
	padding-top: 12px;
	vertical-align: top;
	width: 32%;
}
#vote-finalists.page-finalists .intro li:before,
#vote-finalists-ftrmod .intro li:before {
	color: #1295cc;
	content: "• ";
}
#vote-finalists.page-finalists .heroes li {
	box-sizing: border-box;
	display: block;
	float: none;
	overflow: auto;
	padding-right: 0px;
	position: relative;
	width: 100%;
}
#vote-finalists.page-finalists .thumb {
	max-width: 128px;
}
#vote-finalists.page-finalists .info {
	width: 480px;
}
#vote-finalists.page-finalists .info a {
	font-weight: bold;
}
#vote-finalists.page-finalists .thumb,
#vote-finalists.page-finalists .info {
	float: left;
}
#vote-finalists .overlay-wrap {
	display: none;
}