<div id="vote-finalists" class="voting-closed">
	<div class="intro">
		<h3>People's Choice Finalists </h3>
		<p>Voting for the WebMD's 2014 People's Choice Health Hero is now closed. The winner &ndash; chosen from among these 10 celebrity health activists &ndash; will be announced here Nov. 6, and in the November/December issue of <em>WebMD Magazine</em>.</p>
	</div>
	<div id="vote-finalists-linked" class="toc">
		<div class="emailform" id="nl-health-heroes-notify"></div>
	</div>
	<ul class="heroes">
		<li>
			<div class="thumb">
				<img src="hero_aagassi.jpg" alt="Andre Agassi"/>
				<a class="cta-button" href="2014-finalists#celeb_1">Learn More</a>
			</div>
			<h4><a class="candidate" href="2014-finalists#celeb_1">Andre Agassi</a></h4>
			<p>The tennis great is forming new programs for young athletes.</p>
		</li>
        <!-- ... -->
		<li>
			<div class="thumb">
				<img src="hero_mstewart.jpg" alt="Martha Stewart"/>
				<a class="cta-button" href="2014-finalists#celeb_10">Learn More</a>
			</div>
			<h4><a class="candidate" href="2014-finalists#celeb_10">Martha Stewart</a></h4>
			<p>This icon of entertaining and fine living funds small business owners and elderly health programs.</p>
		</li>
	</ul>
	<div class="disclaimers">
		<p>Click here for <strong><a href="heroes-tc.pdf">Official Contest Rules</a></strong>.</p>
	</div>
</div>