#allergy-app-promo {
	background: url("main_bg.png") no-repeat 0 0;
	clear: both;
	height: 725px;
	position: relative;
	top: 5px;
	width: 980px;
}
#allergy-app-promo form {
	display:none;
}
#allergy-app-promo .side {
	float: left;
}
#allergy-app-promo .promo-content {
	font-family: Lato, Arial, sans-serif;
	left: 45px;
	position: relative;
	top: 240px;
}
#allergy-app-promo .features {
	list-style: none;
	margin: 0;
	padding: 0;
}
#allergy-app-promo .features li {
	font-size: 1.24em;
	line-height: 2.25em;
}
#allergy-app-promo .features li:before {
	content: ".";
	font-size: .9em;
	margin-right: 5px;
}
#allergy-app-promo .form-content {
	font-family: Lato, Arial, sans-serif;
	width: 500px;
}
#allergy-app-promo .form-content h3 {
	font-size: 1.35em;
	margin-top: 30px;
}
#allergy-app-promo .terms {
	font-family: Lato, Arial, sans-serif;
	font-size: .8em;
}
#promo-crsl {
	width: 325px;
}
#allergyappsmsemail {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	position: relative;
	width: 500px;
}
#allergyappsmsemail *,
#allergyappsmsemail *:before,
#allergyappsmsemail *:after {
	box-sizing: border-box;
}
#allergyappsmsemail .pane {
	display: block;
}
#allergyappsmsemail .paneSystemError {
	display: none;
}
#allergyappsmsemail .paneSystemError p {
	margin: 10px 0;
}
#allergyappsmsemail .paneDone{
	clear: both;
	display: none;
	margin-top: 75px;
}
#allergyappsmsemail .paneDone h3,
#allergyappsmsemail .paneDone p {
	font-family: Lato, Arial, sans-serif;
	font-size: 1.24em;
}
#allergyappsmsemail .paneBusy{
	display: none;
}
#allergyappsmsemail .allergyapplogo.thankyou {
	width: 148px;
	height: 53px;
}
#allergyappsmsemail .errMsg {
	background-color: #eceaeb;
	color: #474747;
	display:none;
	font-weight: bold;
	font-size: .9em;
	margin-bottom: 5px;
	padding: 5px 10px;
	position: relative;
	width: 300px;
}
#allergyappsmsemail .errMsg:before {
	border-bottom: 5px solid #DEDEDE;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	height: 0;
	left: 5%;
	position: absolute;
	top: -4px;
	width: 0;
}
#allergyappsmsemail .sender,
#allergyappsmsemail .controls {
	float: left;
}
#allergyappsmsemail label {
	display: block;
	font-family: Lato, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 30px 0 10px;
}
#allergyappsmsemail input[type=text] {
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	color: #666;
	font-size: 1.2em;
	font-weight: normal;
	height: 30px;
	margin: 0 17px 5px 0;
	padding: 0 15px;
	width: 300px;
}
#allergyappsmsemail input[type=submit] {
	background: #f57f20;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	height: 65px;
	margin: 0 0 15px;
	padding: 10px 15px;
	position: relative;
	width: 120px;
}
#allergyappsmsemail input[type=checkbox] {
	float: left;
}
#allergyappsmsemail .disclaimer-box {
	clear: both;
	margin-right: 15px;
}
#allergyappsmsemail .disclaimer-box p {
	color: #666;
	font-family: Lato, Arial, sans-serif;
	font-size: .8em;
	line-height: 1.3em;
	margin-left: 30px;
}