<div id="allergy-app-promo">
	<div class="module spotlight side" id="promo-crsl">
		<div class="content">
			<div class="slider">
				<div class="slides">
					<div class="slide"><div class="listHorizontal"><img src="slider_1.png" alt=""/></div></div>
					<div class="slide"><div class="listHorizontal"><img src="slider_2.png" alt=""/></div></div>
					<div class="slide"><div class="listHorizontal"><img src="slider_3.png" alt=""/></div></div>
					<div class="slide"><div class="listHorizontal"><img src="slider_4.png" alt=""/></div></div>
					<div class="slide"><div class="listHorizontal"><img src="slider_5.png" alt=""/></div></div>
				</div>
			</div>
		</div>
	</div>
	<script>requirejs(['carousel'],function(carousel){ carousel.init('promo-crsl'); });</script>
	<div class="promo-content side">
		<div class="hdr jawsonly">
			<h2>WebMD Allergy</h2>
			<p>Take Control of Your Allergies</p>
		</div>
		<ul class="features">
			<li>Personalized allergy and weather forecasts</li>
			<li>Hundreds of doctor-approved articles, slideshows and videos</li>
			<li>Track symptoms and treatments, and share with your doctor</li>
			<li>Customize scheduled alerts based on allergy forecast</li>
		</ul>
		<div id="allergyappsmsemail">
			<div class="pane paneForm">
				<form action="#" method="get">
					<label for="email">Get a link to download the app sent directly to your phone.</label>
					<div class="sender">
						<input type="text" name="to-addr" value="Your Phone Number" class="placeholder" /><br />
						<input type="text" name="conf-addr" value="Confirm Your Phone Number" class="placeholder" />
						<div class="errMsg"></div>
					</div>
					<div class="controls">
						<input type="submit" class="webmd-btn webmd-btn-pr webmd-btn-xs" value="Submit" />
					</div>
					<div class="disclaimer-box">
						<input type="checkbox" name="disclaimer">
						<p>By checking this box I agree to receive an automated marketing text message to the mobile number that I have provided.</p>
					</div>
				</form>
			</div>
			<div class="pane paneBusy">
				<div class="loading_medium">Loading ...</div>
				<p>Sending your SMS...</p>
			</div>
			<div class="pane paneSystemError">
				<p>This feature is temporarily unavailable. Please try again later.</p>
			</div>
			<div class="pane paneDone">
				<h3>Thanks!</h3>
				<p>Now check your phone for a link to download your new app.</p>
			</div>
		</div>
		<script type="text/javascript">
		require(['allergy-app'], function(appsmsemail) {
			appsmsemail.init({type:'sms',metrics:'sms'});
		});
		</script>
	</div>
</div>